.App{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 50%;
    min-height: 300px;
    background-color: rgba(250, 250, 250, 0.8);
    padding: 2rem;
    border-radius: 1rem;

}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 2rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.inp{
    margin: 20px;
   
    
}

.inp > label{
    margin: 10px;
}